$color-background: #f6f8fa;
$color-border: #eaeaea;


$mobile-device-min: 320px;
$mobile-device-max: 480px;

$tablet-device-min: 481px;
$tablet-device-max: 1024px;

$laptop-device-min: 1025px;
$laptop-device-max: 1280px;

$desktop-device-min: 1281px;


$circleSize: 3rem;
$ribbonTopSquareSize: 3rem;
$ribbonBottomWidth: 12rem;
$ribbonBottomHeight: 3rem;
$ribbonBottomPpHeight: 2.7rem;
