@import "./static/style/constants.scss";
@import "./static/style/mixins.scss";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

html {
  font-size: 16px;
}

@media screen and (max-width: $mobile-device-max) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width: $tablet-device-max) {
  html {
    font-size: 11px;
  }
}